<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                 <div class="navbar-brand">
                     Getting Started With Angular 5 App
                  </div>
              </div>
            </div>
          </nav>
    </div>
<div class="container">
<ul>
  <li><a class="active" routerLink="">Home</a></li>
  <li><a routerLink="orders">Orders</a></li>
  <li><a routerLink="news">News</a></li>
  <li><a routerLink="contact">Contact</a></li>
  <li><a routerLink="about">About</a></li>
  <li><a routerLink="user/list">User</a></li>
</ul>
</div>



  
</body>
</html>
<router-outlet></router-outlet>
